@use "globals.scss" as *;

$primary: $green;
$secondary: $dark-gray;
$info: $gray; 
$modal-content-bg: $bg-secondary; 
$modal-content-color: #FFFFFF;
$modal-header-border-color: none;
$modal-body-border-color: none;
$modal-footer-border-color: none;
$modal-content-border-radius: 20px;
$modal-btn-close-color: white;

$input-bg: $bg-secondary;
$input-border-color: $dark-gray;
$input-border-radius: 15px;
$input-color: $light-gray;
$input-focus-border-color: $bg-primary;
$input-placeholder-color: $gray;
$input-border-width: 2px;

$progress-bg: $dark-green; 
$progress-border-radius: 10px;

$table-bg: $bg-primary;
$table-border-color: $gray;
$table-hover-bg: $dark-green; 

$btn-close-color: #ffffff;
$btn-close-opacity: 1;


@import "bootstrap/scss/bootstrap";
