@import "globals.scss";


// Base Modal

.modal-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 80vh; 
    border: none;
    color: white;
    // overflow: hidden;
    
    section {
        padding: 5px 20px 5px 20px;
    }

    .modal-header .btn-close {
        filter: invert(1);
    }
}

.modal-header {
    display: flex;
    gap: 15px;
    color: white;
}

.modal-body-custom {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    color: $gray;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.modal-footer {
    flex-shrink: 0;
    display: flex;
    gap: 10px;
    width: 100%;
}

.modal-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}


// Add Transaction Modal

.modal-header-add-transaction {
    display: flex;
    flex-direction: column;


    p {
        color: $gray;
        font-size: 18px;
    }
}

.modal-body-add-transaction {
    display: flex;
    align-items: center;
    justify-content: center;

    form.modal-form{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 350px;
    }
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 150px;
        color: white;
    }
}



.date-input-form {
    display: flex;
    flex-direction: column;

    span {
        display: flex;
        align-items: center;
        gap: 15px;
        border: 2px solid $dark-gray;
        border-radius: 15px;
        padding: 8px 10px;
    }

    .custom-datepicker {
        border: none;
        outline: none;
        background-color: transparent;
        color: $light-gray;
        cursor: pointer;
    }
}