@import "globals.scss";

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    width: 100%;
    border-bottom: 2px solid $bg-secondary;
    margin: auto 0px;

    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: 1fr 100px;

    }
}

.nav-link {
    color: $gray; 
    font-weight: 500;
    font-size: 16px; 
  
    &:hover {
      color: $light-gray; 
    }

    &:focus {
      color: $green;
    }
  }

.nav-link-active {
  color: $green;
}
  